#Se puede agregar más para ignorar
#Sirve para que cargue más rapido el build(cuando lo subes)

target/
.git/
.gitignore
*.log
*.iml
.idea/
.vscode/
.DS_Store
docker-compose.yml          # ¡NO subir el compose local!
init-local-db.sh           # ¡NO subir scripts locales!