.salirini{
    position: absolute;
    top: 20px;
    left: 20px;
    font-family: monospace;
    font-size: 1.5rem;
    background-color: #8a0303;
    color: #fff;
    border: 3px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    z-index: 10;
}
.salirini:hover{
  background-color: #e93b3b;
  transform: translateY(-2px);
}

h1{
    font-size: 3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    border-bottom: #8a0303 5px solid;
}

.div{
  width: 100%;
}
h2{
    font-size: 2rem;
    font-family: monospace;
    margin-left: -20%;
}

.fondo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

body{
  position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    background-size: cover;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0.75),
            rgba(255, 255, 255, 0.75)
        ),url(../../G-assets/imagenes/chibolos.jpg);
    height: 100%;
}



.message {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 1px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.message::before {
  width: 18px;
  height: 18px;
}

.message::after {
  width: 18px;
  height: 18px;
  animation: circulo 1s linear infinite;
}

@keyframes circulo {
  to {
    transform: scale(1.8);
    opacity: 0;
  }
}

.message::before,.message::after {
  position: absolute;
  content: "";
  border-radius: 50%;
  left: 0px;
  background-color: #22641580;
}

.message{
  font-size: 14.5px;
  color: rgba(255, 255, 255, 0.7);
}

.lista{
  text-decoration: none;
  font-size: 1.5rem;
}





